extends shared/master

block body
    div(class='container')
        img(src=player.headshotImgUrl)
        if player.commonName!=''
            h1='Player: '+player.commonName
        else
            h1='Player: ' + player.firstName + ' ' + player.lastName
        h2='Pos: '+player.position + ' Ovr: '+player.rating
        form.form-horizontal(action='', method='POST')
            button#register-btn.btn.btn-success(type='submit', value='submit') Buy